-- AddColumn
ALTER TABLE "service_requests" ADD COLUMN "preferredBudget" DECIMAL(65,30);

-- AlterColumn (make referenceNumber nullable first)
ALTER TABLE "service_requests" ADD COLUMN "referenceNumber" VARCHAR(50);

-- Backfill referenceNumber for existing rows
UPDATE "service_requests" SET "referenceNumber" = 'SR-' || "id" WHERE "referenceNumber" IS NULL;

-- Set referenceNumber to NOT NULL and add unique constraint
ALTER TABLE "service_requests" ALTER COLUMN "referenceNumber" SET NOT NULL;
CREATE UNIQUE INDEX "service_requests_referenceNumber_key" ON "service_requests"("referenceNumber");

-- CreateTable
CREATE TABLE "quotation_attachments" (
    "id" TEXT NOT NULL,
    "quotationId" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "uploadedBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "quotation_attachments_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "quotation_attachments_quotationId_idx" ON "quotation_attachments"("quotationId");

-- AddForeignKey
ALTER TABLE "quotation_attachments" ADD CONSTRAINT "quotation_attachments_quotationId_fkey" FOREIGN KEY ("quotationId") REFERENCES "service_quotations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotation_attachments" ADD CONSTRAINT "quotation_attachments_uploadedBy_fkey" FOREIGN KEY ("uploadedBy") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;
